<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="person" class="com.huuthuong.spring.Person"
		scope="prototype" factory-method="getInstance">
		<constructor-arg name="id" type="int" value="0"></constructor-arg>
		<constructor-arg name="name" type="String" value="Scott"></constructor-arg>
		<property name="taxId" value="123"></property>
		<property name="address" ref="address"></property>
	</bean>
	<bean id="address" class="com.huuthuong.spring.Address"
		scope="prototype">
		<constructor-arg name="street" value="Jakob-Kaiser"></constructor-arg>
		<constructor-arg name="postCode" value="33615"></constructor-arg>
	</bean>
</beans>
